README.md
test.py

*.csv
*.log
*.pt
*.bin

# Editors
.vscode/
.idea/

# Folder
loss_dir/
saved_model/

# Mac/OSX
.DS_Store

# Windows
Thumbs.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class